#Ignore Android Studio and Intellij files
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

#Ignore gradle wrapper files
gradle-wrapper.jar
gradle-wrapper.properties


#Ignore compiled build files
/build
/captures
.externalNativeBuild
.cxx

#Ignore Local Configuration Files
/local.properties
local.properties
.DS_Store


